# /infra/.env

# Db
POSTGRES_HOST=consultant_db
POSTGRES_DB=consultant_db
POSTGRES_USER=consultant_user
POSTGRES_PASSWORD=consultant_pass

# Web API
ConnectionStrings__DefaultConnection='Host=consultant_db;Database=consultant_db;Username=consultant_user;Password=consultant_pass'
ASPNETCORE_ENVIRONMENT=Development
RabbitMq__HostName=consultant_rabbit

# RabbitMQ
RABBITMQ_DEFAULT_USER=consultant
RABBITMQ_DEFAULT_PASS=consultant_pass
RABBITMQ_DEFAULT_VHOST=/